*.css.map
*.diff
*.hot-update.json
*.js.map
.DS_Store
.build/
.buildpath
.cache
.idea/
.project
.sass-cache
.settings/
.svn
.vscode/
Thumbs.db
nbproject/
node_modules
node_modules/
npm-debug.log
styleguide
vendor
yarn.lock
