<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<php>
		<!--// These can be override via env variable //-->
		<env name="VIP_GO_ENV" value="true" />
		<env name="PMC_PHPUNIT_BOOTSTRAP" value="/var/www/html/wp-content/plugins/pmc-plugins/pmc-unit-test/bootstrap.php" />
	</php>
	<testsuites>
		<testsuite name="<%= WORDPRESS_THEME %>">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>./tests/</directory>
				<directory>./template-parts/</directory>
				<!--// Any other standard folder we want to excludes? //-->
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
	</logging>
</phpunit>
